:root {
  --black: #000000;
  --cherry: #d7224c;
  --forgiveness-red: #b31e2d;
  --desert-storm: #f8f8f8;
  --midnight-pearl: #70316e;
  --prussian-blue: #0d3258;
  --white: #ffffff;

  --hover-pink: #9a3897;

  --roboto: "Roboto", Helvetica;
  --thasadith: "Thasadith", Helvetica;
  --zilla_slab: "Zilla Slab", Helvetica;

  width: 100%;
}

body {
  text-align: center;
  background-color: var(--white);
  margin: 0;
}

.row {
  margin-inline: auto;
  position: relative;
  max-width: 1080px;
  padding-left: max(10vw, calc((100vw - 1280px) / 2));
  padding-right: max(10vw, calc((100vw - 1280px) / 2));
  overflow: hidden;
  max-width: 1280px;
}

.row:not(:first-of-type) {
  margin-block: 1.75rem;
}

p {
  color: var(--black);
  font-family: var(--roboto);
  font-size: 1.25rem;
  font-weight: normal;
  margin-top: 2.25rem;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

/* header section 1 */


#header {
  background-image: url("header-assets/purple-squiggles.svg"),
    url("header-assets/purple-dots-green-square-right.svg"),
    url("header-assets/orange-blob-left.svg"),
    url("header-assets/teal-blob-right.svg"),
    url("header-assets/orange-blob-line-left.svg"),
    url("header-assets/purple-blob-line-right.svg"),
    url("header-assets/pink-blob-left.svg"),
    url("header-assets/green-blob-right.svg"),
    url("header-assets/blue-blob-center.png");
  background-position: 0 12px, 97% 13px, 0 0, 100% 0, 0 0, 100% 0, 0 0, 100% 0,
    50% 0;
  background-size: 25% auto, 9% auto, 27% auto, 20% auto, 21% auto, 25% auto,
    28.5% auto, 28% auto, 60% auto;
  background-repeat: no-repeat;
}

.star {
  margin-inline: auto;
  padding-top: 1.5rem;
  width: 15%;
  min-width: 110px;
}

.header-text-wrapper {
}

h3.supertitle {
  background-image: url("yellow-squiggle-longest.svg");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 10.5em;
  color: var(--prussian-blue);
  font-family: var(--thasadith);
  font-size: 1.75rem;
  padding-bottom: 11px;
  margin-bottom: -8px;
}

h1.title {
  color: var(--prussian-blue);
  font-family: var(--zilla_slab);
  font-size: 2.25rem;
  font-weight: 600;
}

#see-samples-button {
  background-color: var(--midnight-pearl);
  width: 180px;
  height: 50px;
  border-radius: 40px;
  transition: 175ms ease-in-out;
  font-size: 24px;
  margin-inline: auto;
}

#see-samples-button a {
  color: var(--white);
  text-decoration: none;
  font-family: var(--roboto);
  line-height: 2;
}

#see-samples-button:hover {
  background-color: var(--hover-pink);
  box-shadow: 0px 4px 8px 1px rgb(0 0 0 / 0.25);
  transition: 175ms ease-in-out;
  transform: scale(1.025);
}

/*div 2 - triple icon*/

#triple-icon {
  padding-block: 2.25rem;
  background-color: var(--desert-storm);
  display: flex;
  flex-direction: row; 
  justify-content: space-around;
  align-items: flex-end;
}

#triple-icon .wrapper img.icon {
  width: clamp(60px, 11vw, 145px);
  height: auto;
}

.triple-icon-title {
  color: var(--prussian-blue);
  font-family: var(--zilla_slab);
  font-size: 2.25rem;
  font-weight: 600;
  margin-block: 1.5rem 0;
}

h4.italic {
  font-style: italic;
  font-family: var(--roboto);
  font-weight: 400;
  font-size: 1.5rem;
  margin-block: 0;

}

#triple-icon .wrapper img.line {
  width: 80%;
  max-width: 210px;
  height: 6px;

}

h5.supporting-text {
  font-family: var(--roboto);
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.125;
  margin-block: 0.25rem;
}